/* Fixes margin-left issue for default gravity forms radio button styles */

.gform_wrapper .gfield_checkbox li input[type=checkbox],
.gform_wrapper .gfield_radio li input[type=radio],
.gform_wrapper .gfield_checkbox li input {
	margin-left: 2px;
}

/*

	Added for reference

$form_ID .gform_heading {
	color: #$custom_color;
}

.gform_wrapper $form_ID input[type=text] {
	background-color: #$input_all_bg;
	border: solid 1px #$input_all_border;
	color: #$input_all_color;
}
.gform_wrapper $form_ID input[type=url] {
	background-color: #$input_all_bg;
	border: solid 1px #$input_all_border;
	color: #$input_all_color;
}

.gform_wrapper $form_ID input[type=email] {
	background-color: #$input_all_bg;
	border: solid 1px #$input_all_border;
	color: #$input_all_color;
}
.gform_wrapper $form_ID input[type=tel] {
	background-color: #$input_all_bg;
	border: solid 1px #$input_all_border;
	color: #$input_all_color;
}
.gform_wrapper $form_ID input[type=number] {
	background-color: #$input_all_bg;
	border: solid 1px #$input_all_border;
	color: #$input_all_color;
}
.gform_wrapper $form_ID input[type=password] {
	background-color: #$input_all_bg;
	border: solid 1px #$input_all_border;
	color: #$input_all_color;
}

.gform_wrapper $form_ID textarea {
	background-color: #$custom_color;
	color: #$custom_color;
}

*/

